<!-- Conditions Section -->
    <section id="conditions">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Conditions Treated</h2>
                    <h3 class="section-subheading text-muted">Sit with the pain until it passes, and you will be calmer for the next one.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="condition-heading">Pain and Musculoskeletal Issues</h4>
                    <p class="text-muted"> 
<li class="text-muted" align="left">Back Pain</li>
<li class="text-muted" align="left">Neck Pain</li>
<li class="text-muted" align="left">Shoulder pain</li>
<li class="text-muted" align="left">Leg Pain</li>
<li class="text-muted" align="left">Tennis Elbow</li>
<li class="text-muted" align="left">Joints Pain (knee, ankle, hip, elbow, wrist)</li>
<li class="text-muted" align="left">Bell’s Palsy</li>
<li class="text-muted" align="left">Headache and Migraine</li>
<li class="text-muted" align="left">Fibromyalgia</li>
<li class="text-muted" align="left">Ganglion Cyst</li></p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="condition-heading">Digestive disorders</h4>
                    <p class="text-muted">
                        <li class="text-muted" align="left">Indigestion</li>
                        <li class="text-muted" align="left">Stomach or abdomen pain</li>
                        <li class="text-muted" align="left">Diarrhea</li>

<li class="text-muted" align="left">Constipation</li>

<li class="text-muted" align="left">Nausea and vomiting</li>
                    </p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="condition-heading">General</h4>
                    <p class="text-muted">
                        <li class="text-muted" align="left">Stress and depression relief</li>

<li class="text-muted" style="text-align:left">Fatigue</li>

<li class="text-muted" align="left">Dizziness/Vertigo</li>

<li class="text-muted" align="left">Headaches or migraine</li>

<li class="text-muted" align="left">Tinnitus</li>

<li class="text-muted" align="left">Sinuses</li>

<li class="text-muted" align="left">Allergic rhinitis</li>

<li class="text-muted" align="left">Health Maintenance</li>
                    </p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="condition-heading">Women's Health</h4>
                    <p class="text-muted">
<li class="text-muted" align="left">                        Menstrual Pain</li>

<li class="text-muted" align="left">Pre-Menstrual Syndrome</li>

<li class="text-muted" align="left">Irregular periods</li>
<li class="text-muted" align="left">Menopause symptoms</li>
                    </p>
                </div>
            </div>
        </div>
    </section>