<!-- Conditions Section -->
    <section id="conditions">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Conditions Treated</h2>
                    <h3 class="section-subheading text-muted">Sit with the pain until it passes, and you will be calmer for the next one.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-prescription-bottle-alt fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="condition-heading">Pain and Musculoskeletal Issues</h4>
                    <div class="text-center condition-detail">
                        <ul class="list text-left">
<li>Back Pain</li>
<li class="text-muted">Neck Pain</li>
<li class="text-muted">Shoulder pain</li>
<li class="text-muted">Leg Pain</li>
<li class="text-muted">Tennis Elbow</li>
<li class="text-muted">Joints Pain (knee, ankle, hip, elbow, wrist)</li>
<li class="text-muted">Bell’s Palsy</li>
<li class="text-muted">Headache and Migraine</li>
<li class="text-muted">Fibromyalgia</li>
<li class="text-muted">Ganglion Cyst</li>
</ul>
</div>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-prescription-bottle-alt fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="condition-heading">Digestive disorders</h4>
                    <div class="text-center condition-detail">
                    <ul class="list text-left">
                        <li class="text-muted">Indigestion</li>
                        <li class="text-muted">Stomach or abdomen pain</li>
                        <li class="text-muted">Diarrhea</li>
<li class="text-muted">Constipation</li>
<li class="text-muted">Nausea and vomiting</li>
</ul>
</div>
                    </p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-prescription-bottle-alt fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="condition-heading">General</h4>
                    <div class="text-center condition-detail">
                        <ul class="list text-left">
<li class="text-muted">Stress and depression relief</li>
<li class="text-muted">Fatigue</li>
<li class="text-muted">Dizziness/Vertigo</li>
<li class="text-muted">Headaches or migraine</li>
<li class="text-muted">Tinnitus</li>
<li class="text-muted">Sinuses</li>
<li class="text-muted">Allergic rhinitis</li>
<li class="text-muted">Health Maintenance</li>
</ul>
</div>
                    </p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-prescription-bottle-alt fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="condition-heading">Women's Health</h4>
                    <div class="text-center condition-detail">
                    <ul class="list text-left">
<li class="text-muted">                        Menstrual Pain</li>

<li class="text-muted">Pre-Menstrual Syndrome</li>

<li class="text-muted">Irregular periods</li>
<li class="text-muted">Menopause symptoms</li>
</ul>
</div>
                </div>
            </div>
        </div>
    </section>